extends layout

block content
    h1.
        #{repository.title}
    div
        p.
           Description #{repository.description}
    div
        table(class="table table-striped")
          thead
            tr: th 
          tbody
            each ont, i in ontologies
              tr
                td
                  if ont.is_nested
                    | >> 
                  a(href="/ontology/#{ont.id}")= ont.id
                td.
                  #{ont.title}
                td.
                  #{ont.description_short}
                td.
                  #{ont.domain}
                td
                  if ont.tracker 
                    a(href="#{ont.tracker}") 
                      img(src="http://obofoundry.org/images/blue-footprint.gif" alt="tracker" title="tracker")
                  else
                    | -

