extends layout

block content
    h1
        Name #{ont.label}
    div
      dl(class="dl-horizontal")
        dt id
        dd #{ont.id}
        dt title
        dd #{ont.title}
        dt description
        dd= ont.description
        dt homepage
        dd 
          a(href="#{ont.homepage}")= ont.homepage
    div
     form(id="form_term_search" action="http://www.ontobee.org/browser/index.php" method="get" style="padding-top:20px; padding-bottom:20px;")
      input(aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" class="ui-autocomplete-input" id="keywords" name="keywords" size="30" value="")
      input(name="Submit2" value="Search OntoBee" type="submit")
      input(name="o" id="ontology" value="#{ont.id}" type="hidden")

    div
      p Artefacts
      table(class="table table-striped")
          thead
            tr: th 
          tbody
            each d, i in ont.products
              tr
                td
                  a(href="/ontology/#{d.id}")= d.id
                td
                  a(href="http://purl.obolibrary.org/obo/#{d.id}") PURL
                td.
                  #{d.title}
                td.
                  #{d.description}

    div
      p Dependencies
      table(class="table table-striped")
          thead
            tr: th 
          tbody
            each d, i in dependencies
              tr
                td
                  a(href="/ontology/#{d.id}")= d.id
                td.
                  #{d.title}
                td.
                  #{d.description}
      
